

html{
  background-image: linear-gradient(90deg, #AF40FF, #5B42F3 , #00DDEB);
}

#root{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 4rem;
}